.column-space {
    display: "flex";
    width: 18%;
    background-color: #bae7ff;
    padding: 10px;
    /* direction: column;
    justify-content: flex-start; */
}

h3.column-title {
    color: white;

}

.column-divider {
    background-color: white;
    margin: 0
}

.droppable-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #91D5FF
}