.task-card {
    background-color: #e6f7ff;
    margin-bottom: 10px;

}

.ant-card-body {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
    width: 100%;
    white-space: nowrap;

}

.task-assignee {
    color: #40a9ff;
}

.ant-card-actions {
    background-color: transparent;
}

.ant-card-actions *:hover {
    cursor: grab
}

.ant-card-actions>li {
    margin: 5px
}