.board-content {
    background-color: #91d5ff;
    width: 90vw;
    min-height: 80vh;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 15px;
}

.title-container {
    justify-content: center;
}

.board-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 2;
}

.board-main {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.board-side-toolbar {
    width: 10%;
}


.action-btn {
    width: 100%;
    margin-bottom: 15px
}

.edit-board-form {
    width: 75%;
    justify-content: flex-end;
    flex-direction: column;
}

.ant-select-clear {
    background: transparent
}

.users-filters-sections {
    width: 100%;
    display: flex;
    direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.user-filter-btn {
    margin-right: 15px;
}